@import "tailwindcss";

@font-face {
  font-family: "Aeonik Pro";
  src: url("/fonts/aeonikprotrial-light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik Pro";
  src: url("/fonts/aeonikprotrial-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik Pro";
  src: url("/fonts/aeonikprotrial-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-blur: #2960ea;
}

body {
  font-family:
    "Aeonik Pro",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  color: #353535;
}

.default-container {
  width: min(calc(100% - 40px), 985px);
  margin-inline: auto;
  padding-inline: 20px;
  box-sizing: content-box;
}
