@import "tailwindcss";
@import "../styles/fonts.css";

html {
  scroll-behavior: smooth;
}

:root {
  --color-blur: #2960ea;
}

body {
  font-family:
    "Aeonik Pro",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  color: #353535;
}

.default-container {
  width: min(calc(100% - 40px), 985px);
  margin-inline: auto;
  padding-inline: 20px;
  box-sizing: content-box;
}
