@font-face {
  font-family: "Aeonik Pro";
  src: url("/fonts/aeonik-pro-trial/light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik Pro";
  src: url("/fonts/aeonik-pro-trial/regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik Pro";
  src: url("/fonts/aeonik-pro-trial/bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
